.my-picture {
  height: 200px;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  left: 70px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
}
.tannaz {
  position: absolute;
  top: 135px;
  left: 300px;
}
.upper-half {
  height: 202px;
  width: 100%;
  background-color: rgba(24, 182, 100, 0.282);
  margin: 0;
}
.my-journey,
.skills {
  text-align: center;
  margin-bottom: 50px;
}
.my-journey p,
.skills p {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}
.development-projects,
.skills {
  text-align: center;
  margin-bottom: 50px;
}
.development-projects p,
.skills p {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}
.development-projects li {
  color: rgb(72, 86, 147);
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: bold;
}
html,
body {
  padding: 0;
  margin: 0;
}
.instagram-account {
  height: 240px;
  border-radius: 4px;
  top: 700px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.instagram-post {
  height: 300px;
  border-radius: 4px;
  top: 700px;
  margin-bottom: 30px;
}
