.dark-mode {
  background-color: rgb(39, 39, 39);
  color: rgb(220, 220, 220);
}

.dark-mode a {
  color: rgb(100, 155, 147);
}
.dark-mode .social-icons div {
  filter: invert(1) hue-rotate(180deg);
}
